{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/add-question.css">
{% endblock %}

{% block content %}
    <h1 class="title-add-question">Ajoute ta question dans Quizzy</h1>
    <div id="error">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </div>
    <form action="add-question" method="post">
        <div id="question-block">
            <label  for="question">Votre question :</label>
            <textarea id="question" name="question" required>{{question}}</textarea>
        </div>
        <h2>Ajoute au moins 2 réponses à ta question.<br>Et coche la case pour préciser qu'il s'agit de la (ou les) bonnes réponses.</h2>
        <div id="answers-block">
            {% for answer in answerArray %}
                <div id="answer-{{loop.index}}-block" class="answer-block">
                    <label  for="answer-{{loop.index}}">Réponse {{loop.index}} :</label>
                    <input  type="text"  id="answer-{{loop.index}}"  name="answer_{{loop.index}}" value="{{answer.answer}}" required>
                    <input type="checkbox" id="answer-{{loop.index}}-checkbox" name="answer_{{loop.index}}_correct">
                </div>
            {% endfor %}
        </div>
        <button id="add-answer">Ajouter une réponse</button>
        <div id="send-answer">
            <input type="submit" value="Envoyer la question">
        </div>
    </form>
    
    
{% endblock %}

{% block javascript %}
    <script>
        /* Script that makes the button add another answer div when clicked.
         The first time we click on it, we add the div 3, then 4 etc. */

        let numberofAnswers = {{ answerArray|length + 1 }}; 
        let buttonAddAnswer = document.querySelector("#add-answer");

        buttonAddAnswer.addEventListener('click', function(){
            let node = document.createElement("DIV");
            node.classList.add("answer-block");
            node.id = `answer-${numberofAnswers}-block`
            
            node.innerHTML = `<label  for="answer-${numberofAnswers}">Réponse ${numberofAnswers} :</label>
            <input  type="text"  id="answer-${numberofAnswers}"  name="answer_${numberofAnswers}">
            <input type="checkbox" id="answer-${numberofAnswers}-checkbox" name="answer_${numberofAnswers}_correct">`;

            document.getElementById("answers-block").appendChild(node);
            numberofAnswers += 1;
        });
        
    </script>
{% endblock %}