{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ question['title']}}</h1>
    <img src="assets/images/questions/question-default.jpg" alt="question marks">
    <form method="post" action="/">
        {% for answer in answers %}
            <div>
                <input type="checkbox" id="{{ answer.id }}" name="{{ answer.title }}">
                <label for="{{ answer.id }}">{{ answer.title }}</label>
            </div>
        {% endfor %}
    </form>
{% endblock %}
