{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/form-question.css">
{% endblock %}

{% block content %}
    <section class="question-section">
        <h1 class="question-title">{{ question['title']}}</h1>
        <section class="img-and-question">
            <div class="img-question"><img src="assets/images/questions/question-image-{{ question['id'] }}.jpg" alt="question marks"></div>
            <form class="question-home" method="post" action="result">
                <input type="hidden" name="{{ question.id }}">
                {% for answer in answers %}
                    <div class="input-group">
                        <input type="checkbox" id="{{ answer.id }}" name = {{ answer.id }} value="{{ answer.title }}" onChange="this.form.submit();">
                        <label for="{{ answer.id }}">{{ answer.title }}</label>
                    </div>
                {% endfor %}
            </form>
            <a href="/report?id={{question.id}}"> Signaler cette question. </a>
        </section>
    </section>
{% endblock %}