{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ question['title']}}</h1>
    <img src="assets/images/questions/question-image-{{ question['id'] }}.jpg" alt="question marks">
    {% for answer in answers %}
        <div>
            <input type="checkbox" id="{{ answer.id }}" name="{{ answer.title }}" disabled class="{{ (answer.is_correct) ? 'good-answer' : 'wrong-answer' }}">
            <label for="{{ answer.id }}">{{ answer.title }}</label>
        </div>
    {% endfor %}
    <div id="next-page-button">
        <a href="/" id="redirection">Question suivante (45)</a> <button type="button" id="pause-timer">Mettre en pause le timer</button>
    </div>

{% endblock %}


{% block javascript %}

    <script>
        timer = 45;
        continueTimer = true;
        let x = setInterval(function() {
            if (continueTimer){
                timer -= 1;
            }
            document.getElementById("redirection").innerHTML = "Question suivante (" + timer + ")";
            if (timer <= 0 && continueTimer === true) {
                continueTimer = false;
                location.replace("/");
            }
        }, 1000);

        const pauseTimer = document.querySelector('#pause-timer');
        pauseTimer.addEventListener('click', function(){
            continueTimer = false;
        })
    </script>

{% endblock %}
