{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ question['title']}}</h1>
    <img src="assets/images/questions/question-image-{{ question['id'] }}.jpg" " alt="question marks">
        {% for answer in answers %}
            <div>
                <input type="checkbox" id="{{ answer.id }}" name="{{ answer.title }}" disabled class="{{ (answer.isCorrect) ? 'good-answer' : 'wrong-answer' }}">
                <label for="{{ answer.id }}">{{ answer.title }}</label>
            </div>
        {% endfor %}
{% endblock %}
