{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/result.css">
{% endblock %}

{% block content %}
    <section class="question-section">
        <h1 class="question-title">{{ question['title']}}</h1>
        <section class="img-and-question">
            <div class="img-question">
                <img src="assets/images/questions/question-image-{{ question['id'] }}.jpg" alt="question marks" class="image">
            </div>
            <div class="question-home">
                {% for answer in answers %}
                    <div class="input-group">
                        <input type="checkbox" id="{{ answer.id }}" name="{{ answer.title }}" disabled class="{{ (answer.is_correct) ? 'good-answer' : 'wrong-answer' }}">
                        <label for="{{ answer.id }}">{{ answer.title }}</label>
                    </div>
                {% endfor %}
            </div>
        </section>
        <div id="next-page-button">
            <a href="/" id="redirection">Question suivante (45)</a> 
            <button type="button" id="pause-timer">Stop timer</button>
        </div>
    </section>
{% endblock %}


{% block javascript %}

    <script>
        timer = 45;
        continueTimer = true;
        let x = setInterval(function() {
            if (continueTimer){
                timer -= 1;
            }
            document.getElementById("redirection").innerHTML = "Question suivante (" + timer + ")";
            if (timer <= 0 && continueTimer === true) {
                continueTimer = false;
                location.replace("/");
            }
        }, 1000);

        const pauseTimer = document.querySelector('#pause-timer');
        pauseTimer.addEventListener('click', function(){
            continueTimer = false;
        })
    </script>

{% endblock %}
